@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


body{
	margin: 0;
	padding: 0;
	font-family: Arial;
    font-size: 12px;
	background: url('../images/escritorio.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.contenedor{
	width: 700px;
	height: 350px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:-125px;
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top:-325px;
	background: white;
	border-radius: 6px;
	box-shadow: 0 3px 8px #e64f4f;
	text-align: center;
	padding: 10px;
	position: absolute;
	top: 70%;
	left: 34%;
}



/* Full-width input fields */
input[type=text], input[type=password] {
	width: 60%;
	padding: 13px;
	margin: 5px 0 20px 0;
	text-align: center;
	display: inline-block;
	border: none;
	border-radius: 6px;
	border: 1px solid #b4b1b1;
  }
  
  input[type=text]:focus, input[type=password]:focus {

	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
	outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
	background-color: #800000;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	cursor: pointer;
	width: 25%;
	opacity: 0.9;
  }
  
  .registerbtn:hover {
	opacity:1;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
  }
  
  
